rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  	match /Clients/{document=**} {
      allow write: if false;
      allow read: if true;
    }
    match /User/{user}/{document=**} {
      allow read, write: if request.auth != null && request.auth.uid == user;
    }
    match /Tasas/{tasas}{
			allow read :if request.auth != null;
    }
  }
}